* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.theme-menu__button {
  color: var(--text); 
  background-color: transparent;
  border: 3px solid var(--link);
  margin-left: 3px;
  font-size: 17px;
  font-weight: 700;

}

.theme-menu__button:hover {
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.body {
  position: relative;
  margin: 0;
  background-color: var(--background-color);
  color: var(--accent-color);
  border-color: var(--line-color);
  outline-color: var(--datalabel)
}

.info {
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {

  text-transform: uppercase;
  font-family: sans-serif;
  min-height: 55px;
}

.container {
  
  height: calc(88vh - 40px);
  width: 75%;
  padding: 20px;

}

.text-content {

  width: 100%;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
  min-height: 55vh;
}

.link-container {



  display: flex;
  width: 100%;
  gap: 2%
}

.link {
  align-self: end;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 22px;
  border: 4px solid var(--link)
}

.page {
  padding: 15px 30px;
  height: calc(100vh);
  
}

.content {
  border: 0;
  outline: 0;
  height: calc(88vh - 40px);
  display: flex;
  gap: 5%;
}


@media (width < 1024px) {
  body {
    width: 1024px;
  }
  .text-content {
    width: 205px;
}

.container {
  width: 768px;
}
.link {
  display: none;
}
}

#myChart8 .apexcharts-heatmap-series path:nth-child(2) {
  opacity: 0;
  pointer-events: none;
}

.grid {
  color: var(--grid-color);
  background-color: var(--xy);
  display: none;
  border-color: var(--bar);
  outline-color: var(--legend)
}

#myChart8 > div > div > svg:nth-child(1) {
  background: var(--background-color) !important;
  color: white;
  border: 0;
  outline: 0;
}

.theme-menu__list {
  display: flex;
  list-style-type:  none;
  position: absolute;
  right: 30px;
  top: 10px;
}

.pic {
  height: 65vh;
  width: 66%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../pic.jpg');
}

.pic2 {
  height: 65vh;
  width: 33%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../pic2.png');
}
