:root {
  --accent-color: rgb(0, 0, 0);
  --grid-color: rgba(0, 0, 0, 0.2);
  --datalabel: rgb(24, 84, 216);
  --background-color: #FFFFFF;
  --bar: rgb(24, 84, 216);
  --line-color: rgb(24, 84, 216);
  --link: rgb(24, 84, 216);
  --xy: black;
  --text: black;
  --legend: black;
}
